# Python
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
db.sqlite3
/staticfiles/
media/
# Static and media 
static/img/
static/css/*.map
# Virtual environment
venv/
.env/
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
